.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    margin: 20px;
}

.news {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 10px;
    margin: 10px;
}

.form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.openButton {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.3s;
}